<!-- <p-panel [showHeader]=false class="p-4"> -->
<p-panel header='Pipes básicos' class="p-2">
  
  <h1>Pipes Básicos</h1>

  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>

  <div class="grid">

    <!-- Pipes básicos -->
    <div class="col-12 md:col-4">
      <p-card header="Uppercase">
        {{ nameLower | uppercase }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
      <p-card header="Lowercase"> 
        {{ nameUpper | lowercase }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
      <p-card header="Tittlecase">
        {{ fullName | titlecase }}
      </p-card>
    </div>


    <!-- Date -->
    
    <div class="col-12 md:col-6">
      <p-card header="Date Pipes">
        <ol>
          <li> Fecha </li>
          <li> Fecha | date </li>
          <li> Fecha | date:'short' </li>
          <li> Fecha | date:'long' </li>
          <li> Fecha | date:'MMMM' </li>
          <li> Fecha | date:'MMMM dd, yyyy' </li>
        </ol>
        <hr>
        <ol>
          <li> fecha | date:'long':'GTM-6' </li>
          <li> fecha | date:'long':'GTM-4' </li>
          <li> fecha | date:'long':'':'es-419' </li>
        </ol>
      </p-card>
    </div>

    
    <div class="col-12 md:col-6">
      <p-card header="Date Pipes ">
        <ol>
          <li> {{ currentDate }} </li>
          <li> {{ currentDate |  date }} </li>
          <li> {{ currentDate |  date:'short' }} </li>
          <li> {{ currentDate |  date:'long' }} </li>
          <li> {{ currentDate |  date:'MMMM' }} </li>
          <li> {{ currentDate |  date:'MMMM dd, yyyy' }} </li>
        </ol>

        <hr>
        <ol>
          <li> {{ currentDate | date:'long':'GMT+1' }} </li>
          <li> {{ currentDate | date:'long':'GMT-4' }} </li>
          <li> {{ currentDate | date:'long':'':'es-419' }} </li>
        </ol>
      </p-card>
    </div>

  </div>

  

</p-panel>
